$scroll_header : #1d3c88;
$main_color : #0b1a3b;
$white_color: #FFFFFF;
$gradient_one : #5b85e5;
$gradient_two : #35d1db;
$menu_active : #35c1d7;
$heading_color : #00236c;
$border_bottom : #f0ad19;
$text_color: #384952;
$read_more_button : #0072ff;
$team1 : #f15a2b;
$team2 : #1dab7a;
$team3 : #422bf1;
$team4 : #49abe0;